<p>Welcome to the Massanutten Village Owners Main Page. Please browse the site for complete information on our services and some good general information about Massanutten Village. Massanutten Property Owners Association (or MPOA) has been serving the Massanutten Village community since 1971.</p>
<p>We are the primary voice for over 1000 owners of single-family houses located within the confines of Massanutten Village. In many of our activities we coordinate with Great Eastern Resort Management Corporation which operates some 1000 timeshare units and resort amenities including a winter sports complex and two 18 hole golf courses.</p>
<p>MPOA provides services to owners that include approval of changes to homes and compliance inspection for community covenants.   We provide police and security service and operate several amenities for property owners including an MPOA community swimming pool.</p>

