
   <nav> <%= render_navigation :level => 2 %></nav>
     
    <p id="copyright"> Copyright &copy; 2011-
      <% t=Time.now %><%= t.year %>. Massanutten Property Owners Association, Inc. All Rights
      Reserved.
      <br/>Designed by Hauze.</p>
